
//Header
//$headerBgColor: #3A3D3B;

//ToolBar
//$toolBarIconColor:#FFFFFF;
//$toolBarIconBgColor: #A8A8A8;
//$toolBarIconBorderColor: #A8A8A8;
//$toolBarButtonBgColor: #eff1f3;
//$toolBarButtonIconColor: #000000;


//Content
//$contentTitleColor: #3B4556;
//$contentIconColor: #91c5f7;
//$contentTextColor:  #646464;
//$contentButtonColor: #666666;




$headerBgColor: #3A3D3B;

$toolBarButtonBgColor: #3A3D3B;
$toolBarButtonIconColor: #FFFFFF;
$toolBarButtonBorderColor: #A8A8A8;
$toolBarGridButtonBgColor: #eff1f3;
$toolBarGridButtonIconColor: #000000;

$appViewGridBgColor: #3A3D3B;
$appViewGridIconColor: #FFFFFF;

$adminAppTitleColor: #3B4556;

$iconColor: slategray;
$titleColor: #646464;

$paginatorFooterBgColor: #666666;
$paginatorButtonBgColor: #3A3D3B;
//$paginatorBorderColor: #A8A8A8;

$addButtonColor: #666666;
$addButtonIconColor: #FFFFFF;


$editButtonColor: #666666;
$editButtonIconColor: #FFFFFF;
$editButtonBorderColor: #666666;


$resetButtonColor: #666666;
$resetButtonIconColor: #FFFFFF;
$resetButtonBorderColor: #666666;

$cancelButtonColor: #666666;
$cancelButtonIconColor: #FFFFFF;
$cancelButtonBorderColor: #666666;

$saveButtonColor: slategray;
$saveButtonIconColor: #FFFFFF;
$saveButtonBorderColor: #91c5f7;
